<!-- ID: <%= book.id %><br /> -->

<!-- CREATED AT: <%= book.created_at %><br />
UPDATED AT: <%= book.updated_at %><br /> -->


<div class="col-md-4">
  <div class="jumbotron text-center">
    <div class="single-book">
      <span class="lead"><em><%= shorten(book.title) %></em></span>
      <span><%= shorten(book.author) %></span>
      <span><%= book.pub_year %></span>
      <span><%= link_to 'more', book_url(book) %></span>
    </div>
  </div>
</div>
