<h1>Books#show</h1>
<% if @book %>
  <%= @book.author %><br />
  <%= @book.title %><br />
  <%= @book.pub_year %><br />
  <%= @book.description %><br />
  <%= @book.created_at %><br />
  <%= @book.updated_at %><br />

  <% if user_signed_in? %>
  <%= link_to 'delete', book_url(@book), method: :delete, data: { confirm: "Are you sure?" } %><br />
  <%= link_to 'edit', edit_book_url(@book) %><br />
  <%= render 'reviews/review_form' %>
  <% end %>

  <br /><br />
  <h2>Reviews</h2>
  <% @book.reviews.each do |review| %>
    <%= render review %>
  <% end %>

<% else %>
  no such book
<% end %>
