<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="book-info jumbotron">
        <h2>Info</h2>
        <span class="lead"><em><%= @book.title %></em></span>
        <span><%= @book.author %></span>
        <span>Published in <%= @book.pub_year %></span>
      </div>
    </div>
    <div class="col-md-8">
      <% if user_signed_in? %>
        <%= link_to 'delete', book_url(@book), method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to 'edit', edit_book_url(@book) %>
      <% end %>

      <div class="jumbotron book-description">
        <h2>Description</h2>
        <span><%= @book.description %></span>
      </div>

      <div class="review-form">
      <% if user_signed_in? %>
        <%= render 'reviews/review_form' %>
      <% end %>
      </div>

      <div class="jumbotron book-reviews">
        <h2>Reviews</h2>
        <% if @book.reviews.any? %>
          <% @book.reviews.order('created_at DESC').each do |review| %>
            <%= render review %>
          <% end %>
        <% else %>
          <h4>Nobody reviewed this book yet. Be first!</h4>
        <% end %>
      </div>
   </div>
</div>
